body {
  margin: 0;
  background-color: #8bbabb
}

.topbar {
  width: auto;
  height: 100px;
  background-color: #6c7b95;
  text-align: center;
  padding-left: 1%;
}

.filmbar {
  color: #c7f0db;
  font-size: 130%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  display: inline-block;
  margin-right: 40px;
  margin-top: 20px;
}

.logobar {
  width: 200px;
  height: 100px;
  float: left;
}

.line {
  color: black;
}

.twitter {
  float: right;
  width: 50px;
}

.facebook {
  float: right;
  width: 40px;
  margin-top: 5px;
}

.instagram {
  float: right;
  width: 50px;
}

.quoteback {
  width: auto;
  height: 150px;
  background-color: #c7f0db;

}

.quote {
  text-align: center;
  padding-top: 5%;
}
